<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="testws" />
                <rule name="ws" enabled="false" stopProcessing="true">
                    <match url="/testWS" ignoreCase="false" />
                    <action type="Rewrite" url="ws://localhost:8080" />
                </rule>
                <rule name="testws" stopProcessing="true">
                    <match url="testWS" />
                    <conditions />
                    <serverVariables />
                    <action type="Rewrite" url="ws://localhost:8080" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
